<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:xxx="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- constructor example -->
    <bean id="performer" class="io.maslick.sprink.Performer" autowire="byType"/>

    <bean id="instrument1" class="io.maslick.sprink.Instrument" >
        <property name="name" value="PIANO"/>
    </bean>

    <bean id="instrument2" class="io.maslick.sprink.Instrument" >
        <property name="name" value="GUITAR"/>
    </bean>

</beans>